<% provide(:title, 'About') %>
<h1> About Us </h1>
<p>
The <a href="http://railstutorial.org/"> Ruby on Rails Tutorial</a>
is a sproject to make a book and screencasts to teach web development with

this is the sample app for the tutorial
</p>
